.camera{
    height: 1100px;
    width: 100%;
    
    background-color: blue;
}
/* 1739px column */

i{
    position: relative;
    top: 250px;
    left: 400px;
}

.btn{
    /* background-color: pink; */
    height: 639px;
}

.lib{
    height: 200px;
    width: 200px;
    background-color: red;

    position: relative;
    top: 200px;
    left: 0;
}